*{margin: 0;
padding: 0;
box-sizing: border-box;
}


html{
    scroll-behavior:smooth;
}



 body{
    background-color: #ffffff;   
} 

.header{
    width: 100%;
}

.cabeceraAzul{
    background-color: #0038B1;
    height: 180px;
    position: relative;
    -webkit-box-shadow: 1px 14px 16px -10px rgba(57,95,105,0.68);
    -moz-box-shadow: 1px 14px 16px -10px rgba(57,95,105,0.68);
    box-shadow: 1px 14px 16px -10px rgba(57,95,105,0.68);
    width: 100%;
}

.cabeceraAzul h3{
    text-align:end;
    padding-top: 5px;
    padding-right: 20px;
    color: black;
    background-color: white;
    font-family: 'Oswald', sans-serif;
}

.logo{
    padding: 25px;
    position:absolute; 
}

.navSuperior{
    background-color: white;
    height: 65px;  
}

.navSuperior h3{
    background-color: #ad0c0c;
    text-align: end;    
}

.menusup{
    text-align: end; 
    padding-top: 80px;
    padding-right: 20px;
}

.menusup ul{
    position: absolute;
    display:none;
    list-style: none;
    padding:1.2rem;
} 

.menusup a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
} 

.menusup a:hover{
    color: #00b7ff;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
} 

.menusup li{
    color: #FFFFFF;
    font-weight:bold;
    position: relative;
    display: inline-block;  
    font-size: 1.5rem;  
    margin: 10px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.menusup li:hover{
    color: #00b7ff; 
}

.menusup li:hover ul{
    display: block; 
    background-color:black;
    opacity: 0.8;
    text-align: center;
}

.menusup ul li{
    color: white;
}

.menusup ul li:hover{
    color:#2892e9;
}

.barraazul2{
    background-color: #01152D;
    height: 137px;
    width: 100%;
    margin-top: 10PX;  
}


.barraazul2 h1{
    color: #FFFFFF;  
    width: 70%;
    float: left;
    text-align: center;
    padding-top: 43px; 
}

.redessociales{
    width: 30%;
    display: inline-block;
    text-align: center;
    padding-top: 25px;  
}


.redessociales img:hover{
    zoom: 1.05;
}


.perfil{
    margin: 10px;
    border-radius: 30px;
    -webkit-box-shadow: 1px 16px 84px 0px rgba(57,95,105,0.68);
    -moz-box-shadow: 1px 16px 84px 0px rgba(57,95,105,0.68);
    box-shadow: 1px 16px 84px 0px rgba(57,95,105,0.68);
    background-color: #01152D;
    height: 450px;
    width: 0 auto;
}

h1{
    font-family: 'Oswald', sans-serif;
}

.perfil h2{
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
    padding-left: 50px;
    padding-top: 30px;
}

.parrafo{
    color: #FFFFFF;
    width: 800px;
    padding-left: 80px;
    padding-top: 15px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    text-align: justify;   
}

.v-line{
    border-left: 2px solid white;
    height: 300px;
    margin-left: 925px;
    margin-top: -300px;
    position: absolute;
}

.fotoperfil{
    border-radius: 10px;
    padding-left: 200px;
    padding-top: 15px;
    text-align: center;
    display: inline-block;
    width: 40%;  
}

.fotoperfil a{
    color: #FFFFFF;
    text-align: center;
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.fotoperfil a:hover{
    color: #e6d011;
}

.Skills {
    text-align: center;
    margin-top: -40px;
}

.linea{
    background-color: #00b7ff;
    height: 50px;
    margin-top: 100px;
}

.fotos{
    text-align:center;
    background-color: rgb(41, 36, 58);
    margin:0 auto;
    padding: 20px;
    
}

.fotos img{
    margin: 20px;
    opacity: 0.5;
}

.fotos img:hover{
    opacity: 1;
    -webkit-box-shadow: 1px -8px 69px -35px rgba(255,255,255,1);
    -moz-box-shadow: 1px -8px 69px -35px rgba(255,255,255,1);
    box-shadow: 1px -8px 69px -35px rgba(255,255,255,1);
}

footer{
    background-image: url("../imagenes/footer.png");
    background-size: cover; 
}


.navinferior{
    padding-top: 360px;
    text-align: end;
} 


.menufooter{
    padding-right: 20px;
} 


.menufooter li{
    display: inline-block;
    color: #ffffff;
    margin: 10px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
} 

.menufooter a:hover li{
    color: #fab700;
    
}

.menusup .activo{
    color:#ffe70a;
}

.menusup .activo a{
    color:#ffe70a;
}


/* CSS HTML PERFIL PROFESIONAL */

.contenedorPerfil{
    margin: 0 auto;
    width: 90%;
    height: 1100px;
    
    
}

.perilImagenesCaja{
    width: 300px;
    display: inline-block;
    margin-top:30px;
    margin-left: 230px;
    text-align: center;
    
}

.perilImagenesCaja img{
    display: block;
    margin-bottom: 15px;
    padding-left: 45px;
    
    
}

.perilProfesionalCaja{
    background-color: #01152D;
    height: auto;
    width: 600px;
    display: inline-block;
    color: white;
    padding: 30px;
    position: absolute;
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 30px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    
    
}

.perilProfesionalCaja h2{
    font-family: 'Oswald', sans-serif;
    padding: 40px;
}


/* CSS HTML PROYECTOS WEB */

.cajas{
    text-align: center;
    margin-top: 50px;
}

.cajasPrimerGrupo img {
    margin: 30px;
    opacity: 0.8;
}

.cajasPrimerGrupo img:hover {
opacity: 1;
-webkit-box-shadow: 1px -8px 69px -35px rgba(255,255,255,1);
-moz-box-shadow: 1px -8px 69px -35px rgba(255,255,255,1);
box-shadow: 1px -8px 69px -35px rgba(255,255,255,1);
}

.cajasSegundoGrupo img {
    margin: 30px;
    opacity: 0.8;
}


.cajasSegundoGrupo img:hover {
    opacity: 1;
    -webkit-box-shadow: 1px -8px 69px -35px rgba(255,255,255,1);
    -moz-box-shadow: 1px -8px 69px -35px rgba(255,255,255,1);
    box-shadow: 1px -8px 69px -35px rgba(255,255,255,1);
    }


    /* CSS HTML FORMULARIO */

    .contenedorForm{
        background-color:#01152D;
        width: 90%;
        height: 650px;
        margin: 0 auto;
        margin-top: 50px;
        border-radius: 30px;
        -webkit-box-shadow: 1px 16px 84px 0px rgba(57,95,105,0.68);
    -moz-box-shadow: 1px 16px 84px 0px rgba(57,95,105,0.68);
    box-shadow: 1px 16px 84px 0px rgba(57,95,105,0.68);
       
    }




    .fieldset{
        /* background-color: #0038B1; */
        width: 70%;
        height: 600px;
        margin: 0 auto;
        border-radius: 30px;
        border-style:double;
        -webkit-box-shadow: 1px -8px 69px -35px rgba(255,255,255,1);
        -moz-box-shadow: 1px -8px 69px -35px rgba(255,255,255,1);
        box-shadow: 1px -8px 69px -35px rgba(255,255,255,1);

        
        
    }
    .fieldset legend{
       
        text-align: center;
        color: white;
        font-family: 'Oswald', sans-serif;
        font-size: 35px;
    }

    .formulario{
        /* background-color: #e6d011; */
        color: white;
        margin: 50px;
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
        margin: 0 auto;
        width: 100%;
        margin-top: 80px;
        height: auto;   
    }

    .contenedorLabels{
        /* background-color: #ad0c0c; */
        width: 20%;
        text-align: start;
        display: inline-block;
        margin-left: 240px;
    }

    .contenedorInputs{
        /* background-color: #2892e9; */
        text-align: center;
        display: inline-block;
        width: 45%;
    }

    .labels{
        height: 50px;
        width: 300px;
        margin-right: 30px;
        display: block;
        margin: 0 auto;
    }

    

    .input{
        height: 40px;
        width: 300px;
        border-radius: 5px;
        text-align: center;
        margin: 0 auto;
        font-family: 'Oswald', sans-serif;
    }

    .btn{
        width: 100px;
        height: 40px;
        text-align: center;
        background-color: #0099DC; 
        color: white;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        border-radius: 8px;
        margin-left: 718px
    }

 .btn:hover{
        background-color: #a0b6d1;
    }

    

  