@media (max-width: 767px) {
    body {
    background-color: white;
    }

    .contenedorPadre{
        background-color:rgb(255, 255, 255);
        width: 95%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat (3 1fr);
        grid-template-areas: "header"
        "contenido" 
        "footer"; 
        gap:0.1rem;  
    }

    .header{
        background-color: white;
        grid-area: header;
        
    }

   
    .cabeceraAzul{
        height: 20%;
        background-color: #8b1976;
        justify-content: center;
        
    }

    .cabeceraAzul h3{
        text-align:end;
        color: rgb(0, 0, 0);
        background-color: white;
        font-family: 'Oswald', sans-serif;
        z-index: 3;
    }

    .logo{
    display: none;
    }
    

    .logo1{
        display: block;
        text-align: center;
        margin-bottom: 45px;
        
        
    }

    .logo1 img{
        width: 20%;
    }

    .d-flex{
        margin-top: 30px;
    }

    .barraazul2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .barraazul2 h1{
        width: 100%;
    }

    

    .menusup{
        text-align: center;
        padding-top: 4rem;
        padding-right: 1.25rem;
        position: relative;
    }
    .redessociales{
        display: flex;
        width: 100%;
        justify-content: center;
    }

   .container-fluid{
       z-index: 50;
   }

    .menusup li{
        color: #FFFFFF;
        font-weight:bold;
        position: relative;
        font-size: 1rem;  
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
    }

    .parrafo{

        color: #FFFFFF;
        width: 100%;
        height: auto;
        padding: 0.5rem;
        padding-top: 0.9rem;
        font-family: 'Roboto', sans-serif;
        text-align: justify; 
        
    }

    .parrafo p {
        font-size: 1rem;
    }

    .v-line{
        display: none;
    }

    .parrafoFoto{
        justify-content: center;
    }


    .otrasHabilidades{ 
        .titulos{
            font-size: 20px;
        }
    }

    .fotoperfil{
        padding-top: 0.93rem;
        padding-left: 0%;
       
       
    }

    .fotoperfil img{
        border-radius: 15px;
       
    }

    .navinferior{
        padding-top: 16rem;
        text-align: center;
    } 

    .contenedorPerfil{

        display: flex;
        flex-direction: column;
    }



    .audio{
       margin: 120px 0 200px 0;
    
    }

  .podcast{
    margin-top: 250px;
    }

    .enVivo{
        margin: 0 0 80px 0;
        
    }
}
   

    


