// Variables
$bg_Color: #EEEEEE;
$color_h2: #EEEEEE;
$fuente: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$color_h3: #B22D00;
$colorTitulo:black;
$bg_Color_Caja1: green;
$bg_Color_Caja2: rgb(215, 13, 161);
$bg_Color_Caja3: rgb(127, 14, 234);
$bg_Color_Caja4: rgb(250, 149, 6);
$colorTexto1: #A300D9;
$colorTexto2: #4DA6FF;
$colorTexto3: #FF26FF;
$colorTexto4: #00B22D;
$colorReproductor: #333333;

