// Variables
$bg_Color: #73B9FF; 
$color_h2: #EEEEEE;
$fuente: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$color_h3: #B22D00;
$colorTitulo:black;
$bg_Color_Caja1: green;
$bg_Color_Caja2: rgb(215, 13, 161);
$bg_Color_Caja3: rgb(127, 14, 234);
$bg_Color_Caja4: rgb(250, 149, 6);

